ul,li{
    list-style: none;
    padding: 10px;
    margin: 0;
    gap: 24px;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
    padding: 10px;
}
 
.headr{
    
    background: whitesmoke;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
/* hero */
#hero{
    height: 100vh;
    width: 100%;
    background:radial-gradient(rgba(0, 0, 0, 0.534),rgba(255, 255, 255, 0)), url('/img/main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    padding: 0 15px;
    text-align: center;
}
.hero-content h1,
.hero-content a{
    text-transform: uppercase;
}
.button{
    background-color: rgb(127, 214, 222);
    color: white;
    padding: 10px;
    animation: rotate 2.9s linear;
}
/* about */
#about{
    padding: 70px 0;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card:hover{
    background-color: rgb(226, 236, 238);
    transition: 0.3s ease-in-out;
}
.heading{
    font-size: 35px;
    font-weight: 600;
}
.sub-heading{
    font-weight: 400;
}
#about .heading
#about .sub-heading{
    text-align: center;
    max-width: 800px;
}
.card{
    border-radius: 15px;
    padding: 10px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
/* works */
#works{
    padding: 70px;
}

.works-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#works{
    background-color: rgb(239, 244, 250);
    
    
}
.cap{
    text-align: center;
    
}
.images1{
    background: aliceblue;
}
/* contact */
#contact{
    padding: 70px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form input,
.form textarea{
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #eefafc;
    outline: none;
}

/* footer */

footer{

    background-color: rgb(64 78 93);
    color: white;
}
.ftr-last{
    
    padding: 10px;
    color: white;
    background-color: rgb(31 43 56);
}

.ftr-last .container{
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.footer-title{
    font-size: 16px;
}
.ftr-description{
    font-size: 13px;
}
.ftr-last h6{
    display: flex;
    align-items: center;
}
@keyframes rotate {
    0%{
        background: rgb(127,214,222) ;
        transform: translateX(-100vw);
    }
    50%{
        background: rgb(191, 191, 88);
        border-radius: 50px;
        transform: translateX();
    }
    100%{
        transform: translateX(200vw);
    }
}